@charset "utf-8";
@import
  "lifenode/_grid",
  "lifenode/_header",
  "lifenode/_syntax-highlight",
  "lifenode/_timeline";

html { font-family: $font-family; }

a {
    color: $link-color;
    text-decoration: $link-decoration;

    &:hover {
        color: $link-hover-color;
        text-decoration: $link-hover-decoration;
    }
}

*, *::before, *::after { box-sizing: border-box; }

$grid-media: (
    columns: 12,
    gutter: 50px,
    media: 960px,
);

.home {
    @include grid-media($grid-media) {
        @include grid-column(4);
        @include grid-shift(4);
    }
}

.post {
    @include grid-media($grid-media) {
        @include grid-column(8);
        @include grid-shift(2);
    }
}
