@charset "utf-8";
@import
  "lifenode/_grid",
  "lifenode/_syntax-highlight",
  "lifenode/_timeline";

html { font-family: $font-family; }

a {
    color: $link-color;
    text-decoration: $link-decoration;

    &:hover {
        color: $link-hover-color;
        text-decoration: $link-hover-decoration;
    }
}

*, *::before, *::after { box-sizing: border-box; }
